/*自定义的模块样式表*/


.background-image {
  text-align: center;
  max-width: inherit;
}
.background-image img{
  max-width: 100%;
}
/*video box*/
.video {
  max-width: inherit;
  margin: 80px auto;
}
.video-cover {
  max-width: inherit;
  background-color: #141216;
}
.video img {
  height: 400px;
  display: block;
  margin: 0 auto;
}
.video-tip {
  border-radius: 0 0 8px 8px;
  max-width: inherit;
  height: 34px;
  text-align: center;
}
/*header*/
.header {
  margin-bottom: 80px;
}
.title {
  font-size: 36px;
  margin-bottom: 80px;
  text-align: center;
  line-height: 42px;
}
.AuthorInfo,
.Avatar {
  border-radius: 5px;
}
.Popover {
  width: 50px;
  height: 50px;
}
.AuthorInfo {
  width: 240px;
  margin: auto;
}
.AuthorInfo-content {
  position: relative;
  left: 60px;
  top: -50px;
  line-height: 1em;
  padding: 6px 0;
}
.AuthorInfo-name {
  font-size: 28px;
}
.AuthorInfo-detail {
  font-size: 16px;
  margin-top: 8px;
}
.Popover,
.AuthorInfo,
.AuthorInfo-content,
.AuthorInfo {
  height: 50px;
}

/*LinkCard*/
.LinkCard {
  margin: 1em auto;
  width: 390px !important;
  border-radius: 12px;
}

.LinkCard-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px;
  border-radius: inherit;
  background-color: hsla(0, 0%, 96.5%, 0.88);
}
.LinkCard-text {
  overflow: hidden;
}
.LinkCard-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #1a1a1a;
}
.LinkCard-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  white-space: nowrap;
}
.LinkCard-imageCell {
  margin-left: 8px;
  border-radius: 6px;
}
.LinkCard-image {
  display: block;
  margin: 0 !important;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: inherit;
}
.LinkCard-image--default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ebebeb;
  color: #d3d3d3;
}
svg:not(:root) {
  overflow: hidden;
}

.TipCard,
.LinkCard {
  position: relative;
  display: block;
  width: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  text-indent: 0 !important;
}

.TipCard,
.LinkCard,
.TipCard:hover,
.LinkCard:hover {
  text-decoration: none;
  border: none !important;
  color: inherit !important;
}

.TipCard-backdrop,
.LinkCard-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  background-size: cover;
  background-position: 50%;
}

/* divide */
.divide{
    height: 30px;
    max-width: 45em;
    margin: 0 auto;
}

/* reference */
.reference{
  text-indent: 0;
  font-size: 14px;
}

.reference tr:nth-child(2n){
  background: white;
}